<html>
<head>
  <title>Recording {{ recording.title }}</title>
</head>
<body>
  <h1>Details for <a href={{ recording.url }}>{{ recording.title }}</a></h1>
  <form action="../">
    <table style="width:100%">
      <tr>
        <td><label for="date">Date:</label><input type="text" id="date" name="date" value="{{ recording.date }}"></td>
        <td><label for="title">Title</label><input type="text" id="title" name="title" value="{{ recording.title }}"></td>
      </tr>
      <tr>
        <td><label for="presenter">Presenter(s)</label><input type="text" id="presenter" name="presenter" value="{{ recording.host }}"></td>
        <td><label for="contributor">Contributor(s)</label><input type="text" id="contributor" name="contributor"></td>
      </tr>
      <tr>
        <td><label for="language">Language</label><input type="text" id="language" name="language"></td>
        <td><label for="license">License</label><input type="text" id="license" name="license"></td>
      </tr>
      <tr>
        <td><label for="rights">Rights</label><input type="text" id="rights" name="rights"></td>
        <td><label for="subject">Subject</label><input type="text" id="subject" name="subject"></td>
      </tr>
          <label for="series">Series</label>
          <select id="series" name="series">
            <option value="">--No Series--</option>
            <option value="">test</option>
            {% for series in series_list %}
            <option value="{{ series.id }}">{{ series.title }}</option>
            {% endfor %}
          </select>
          <label for="workflow">Workflow</label>
          <select id="workflow" name="workflow">
            <option selected="true" disabled="disabled">Select Workflow</option>
            <option selected="true">Test</option>
            {% for workflow in workflow_list %}
            <option value="{{ workflow.id }}">{{ workflow.name }}</option>
            {% endfor %}
          </select>
<!--subject
series (list)
publisher
workflow (list)
workflow options (sigh)
ACL

=series=
title
subject
description
language
rights
license
organiziers
contributors
publishers
acl
theme-->
    </table>
    <label for="description">Description</label><input type="textarea" id="description" name="description" rows="4" cols="50">
    <button type="submit" formmethod="post" formaction="{{ recording.posturl }}">Submit</button>
  </form>
</body>
</html>
