<html>
<head>
  <title>Recording {{ recording.title }}</title>
  <style>
  input {
    width: 400px;
  }
  input.wide {
    width: 800px;
  }
  </style>
{% macro textField(name, label, value='', type='text', class='') -%}
{% if visibility == None or (visibility != None and name in visibility) %}
<td>
  <label for="{{ name }}">{{ label }}</label>
  </td><td>
  <input type="{{ type }}" name="{{ name }}" value="{{ value }}" class="{{ class }}">
</td>
{% endif %}
{%- endmacro %}
</head>
<body>
  <h1>Details for <a href={{ recording.url }}>{{ recording.title }}</a></h1>
  <form action="../">
    <input type="hidden"  name="origin_email" id="origin_email" value="{{ recording.email }}"/>
    <input type="hidden"  name="origin_query_string" id="origin_query_string" value="{{ url_query_string }}"/>
    <input type="hidden"  name="dur_check" id="dur_check" value="{{ dur_check }}"/>
    <table style="width:100%">
      <tr><td><h3>Common Episode Metadata</h3></td><td/><td><h3>ETH Extended Metadata</h3></td><td/></tr>
      <tr>
        {% if visibility == None or (visibility != None and ('date' in visibility or 'time' in visibility)) %}
        <td>
          {% if visibility == None or (visibility != None and 'date' in visibility) %}
          <label for="date">Date</label>
          </td><td>
          <input type="date" id="date" name="date" value="{{ recording.date }}">
          {% endif %}
          {% if visibility == None or (visibility != None and 'time' in visibility) %}
          <label for="time">Time (UTC)</label>
          <input type="text" id="time" name="time" value="{{ recording.time }}">
          {% endif %}
        </td>
        {% endif %}
        {{ textField('eth-accessibility', 'Accessibility Description') }}
      </tr>
      <tr>
        {{ textField('duration', 'Duration (minutes)', value=recording.duration) }}
        {{ textField('eth-order', 'Order') }}
      </tr>
      <tr>
        {{ textField('title', 'Title', value=recording.title, class='wide') }}
        {{ textField('eth-owner', 'Owner') }}
      </tr>
      <tr>
        {% if visibility == None or (visibility != None and 'description' in visibility) %}
        <td>
          <label for="description">Description</label>
          </td><td>
          <input type="textarea" id="description" name="description" rows="4" cols="50" class="wide"{% if series != None %} value="{{ series['description'] }}"{% endif %}>
        </td>
        {% endif %}
        {{ textField('eth-notes', 'Notes') }}
      </tr>
      <tr>
        {{ textField('creator', 'Presenter(s)', value=recording.host, class='wide') }}
        {{ textField('eth-legacyid', 'Legacy ID') }}
      </tr>
      <tr>
        {{ textField('contributor', 'Contributor(s)', value=series['contributor'] | default('') | join (', ')) }}
      </tr>
      <tr>
        {{ textField('publisher', 'Publisher(s)', value=series['publisher'] | default('') | join (', ')) }}
      </tr>
      <tr>
        {{ textField('language', 'Language', value=series['language'] | default('') | join (', ')) }}
      </tr>
      <tr>
        {{ textField('license', 'License', value=series['license'] | default('') | join (', ')) }}
      </tr>
      <tr>
        {{ textField('location', 'Location', value=series['location'] | default('') | join (', ')) }}
      </tr>
      <tr>
        {{ textField('rightsHolder', 'Rights Holder', value=series['rightsholder'] | default('') | join (', ')) }}
      </tr>
      <tr>
        {{ textField('subject', 'Subject(s)', value=series['subjects'] | default('') | join (', ')) }}
      </tr>
      <tr>
        {{ textField('source', 'Source', value=series['source'] | default('') | join (', ')) }}
      <tr>
        <td><label for="isPartOf">Series</label></td>
        <td>
          <select id="isPartOf" name="isPartOf">
            <option value="" {% if series == None %}selected="true"{% endif %}>--No Series--</option>
            {% for key, value in series_list.items() %}
            <option value="{{ key }}" {% if series['identifier'] == key %}selected="true"{% endif %}>{{ value }}</option>
            {% endfor %}
          </select>
          <a href="../series?epid={{ recording.id | urlencode }}&oem={{ recording.email }}&oqs={{ query_string }}">Create New Series</a>
        </td>
      </tr>
      <tr>
        <td><label for="acl_id">ACL</label></td>
        <td>
          <select id="acl_id" name="acl_id">
            <option value="" {% if acl == None %}selected="true"{% endif %}>--Blank ACL--</option>
            {% for key, value in acl_list.items() %}
            <option value="{{ key }}" {% if acl['identifier'] == key %}selected="true"{% endif %}>{{ value['name'] }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td><label for="workflow_id">Workflow</label></td>
        <td>
          <select id="workflow_id" name="workflow_id" required>
            <option value=""{% if workflow == None %}selected="true"{% endif %} disabled="disabled">Select Workflow</option>
            {% for key, value in workflow_list.items() %}
            <option value="{{ key }}" {% if workflow['identifier'] == key %}selected="true"{% endif %}>{{ value }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
    </table>
    <br/>
    <button type="submit" formmethod="post" formaction="{{ recording.posturl }}">Submit</button>
    <a href="/recordings/{{ recording.email }}?{{ query_string }}">Back to the recording list</a>
  </form>
</body>
</html>
