<html>
<head>
  <title>Recording {{ recording.title }}</title>
</head>
<body>
  <h1>Details for <a href={{ recording.url }}>{{ recording.title }}</a></h1>
  <form action="../">
    <input type="hidden"  name="origin_email" id="origin_email" value="{{ recording.host }}"/>
    <input type="hidden"  name="origin_query_string" id="origin_query_string" value="{{ query_string }}"/>
    <table style="width:50%">
      <tr>
        <td><label for="date">Date:</label></td><td><input type="text" id="date" name="date" value="{{ recording.date }}"></td>
        <td><label for="title">Title</label></td><td><input type="text" id="title" name="title" value="{{ recording.title }}"></td>
      </tr>
      <tr>
        <td><label for="creator">Presenter(s)</label></td><td><input type="text" id="creators" name="creators" value="{{ recording.host }}"></td>
        <td><label for="contributor">Contributor(s)</label></td><td><input type="text" id="contributors" name="contributors"{% if series != None %} value="{{ series['contributors'] | join(', ') }}"{% endif %}></td>
        <td><label for="organizer">Organizers(s)</label></td><td><input type="text" id="organizers" name="organizers"{% if series != None %} value="{{ series['organizers'] | join(', ') }}"{% endif %}></td>
        <td><label for="publisher">Publisher(s)</label></td><td><input type="text" id="publishers" name="publishers"{% if series != None %} value="{{ series['publishers'] | join(', ') }}"{% else %} value="ETH Zürich, ID MMS; Schweiz"{% endif %}></td>
      </tr>
      <tr>
        <td><label for="language">Language</label></td><td><input type="text" id="language" name="language"{% if series != None %} value="{{ series['language'] }}"{% endif %}></td>
        <td><label for="license">License</label></td><td><input type="text" id="license" name="license"{% if series != None %} value="{{ series['license'] }}"{% endif %}></td>
      </tr>
      <tr>
        <td><label for="rightsHolder">Rights Holder</label></td><td><input type="text" id="rightsHolder" name="rightsHolder"{% if series != None %} value="{{ series['rightsholder'] }}"{% endif %}></td>
        <td><label for="subject">Subject(s)</label></td><td><input type="text" id="subjects" name="subjects"{% if series != None %} value="{{ series['subjects'] | join(', ')}}"{% endif %}></td>
      <tr>
        <td><label for="isPartOf">Series</label></td>
        <td>
          <select id="isPartOf" name="isPartOf">
            <option value="" {% if series == None %}selected="true"{% endif %}>--No Series--</option>
            {% for key, value in series_list.items() %}
            <option value="{{ key }}" {% if series['identifier'] == key %}selected="true"{% endif %}>{{ value }}</option>
            {% endfor %}
          </select>
          <a href="../series?epid={{ recording.id }}">Create New Series</a>
        </td>
        <td><label for="acl_id">ACL</label></td>
        <td>
          <select id="acl_id" name="acl_id">
            <option value="" {% if acl == None %}selected="true"{% endif %}>--Blank ACL--</option>
            {% for key, value in acl_list.items() %}
            <option value="{{ key['id'] }}" {% if acl['identifier'] == key['id'] %}selected="true"{% endif %}>{{ value['name'] }}</option>
            {% endfor %}
          </select>
          <a href="../series?epid={{ recording.id }}">Create New Series</a>
        </td>
        <td><label for="workflow">Workflow</label></td>
        <td>
          <select id="workflow" name="workflow">
            <option {% if workflow == None %}selected="true"{% endif %} disabled="disabled">Select Workflow</option>
            {% for key, value in workflow_list.items() %}
            <option value="{{ key }}" {% if workflow['identifier'] == key %}selected="true"{% endif %}>{{ value }}</option>
            {% endfor %}
          </select>
        </td>
      </tr>
    </table>
    <label for="description">Description</label><input type="textarea" id="description" name="description" rows="4" cols="50"{% if series != None %} value="{{ series['description'] }}"{% endif %}>
    <br/>
    <button type="submit" formmethod="post" formaction="{{ recording.posturl }}">Submit</button>
  </form>
</body>
</html>
