<html>
<head>
  <title>Recordings for {{ user }}</title>
</head>
<body>
  <h1>Recordings for {{ user }}</h1>
  <h3>Displaying recordings from {{ from_date }} to {{ to_date }}</h3>
  <p><a href="?from={{ week_back }}&to={{ to_date }}">1 week earlier</a> | <a href="?from={{ from_date }}&to={{ week_forward }}">1 week later</a></p>
  <table style="width:100%">
    <tr>
      <th style="text-align:left">Date</th>
      <th style="text-align:left">Title</th>
      <th style="text-align:left">Status</th>
      <th style="text-align:left">Action</th>
    </tr>
    {% for recording in recordings %}
    <tr>
      <td>{{ recording.date }}</td>
      <td><a href="{{ recording.url }}">{{ recording.title }}</td>
      <td>{{ recording.status }}</td>
      {% if recording.status != "finished" %}
      <td><a href="{{ recording.url }}">Select</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  <hr/>
  <a href="/">Full user list</a> |
  <a href="/cancel">Cancellable ingests</a>
</body>
</html>
