<html>
<head>
  <title>List of Zoom users</title>
</head>
<body>
  <h1>Zoom users in your account</h1>
  <h3>Displaying users {{ user_from }} to {{ user_to }}</h3>
  <p>{% if last_page %}<a href="./?page={{ last_page }}">{% endif %}Prev page{% if last_page %}</a>{% endif %} | {% if next_page %}<a href="./?page={{ next_page }}">{% endif %}Next Page{% if next_page %}</a>{% endif %}</p>
  <table style="width:100%">
    <tr>
      <th style="text-align:left">Name</td>
      <th style="text-align:left">Eamil</td>
      <th style="text-align:left">Recordings</td>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.last_name }}, {{ user.first_name }}</td>
      <td>{{ user.email }}</td>
      <td><a href="/recordings/{{ user.email }}">List</a></td>
    </tr>
    {% endfor %}
  </table>
  <hr/>
  <a href="/">Full user list</a> |
  <a href="/cancel">Cancellable ingests</a>
</body>
</html>
