<html>
<head>
  <title>Recordings for {{ user }}</title>
  <style>
  .short {
    color: gray;
  }
  .error {
    color: red;
  }
  .grey {
    background: lightgrey;
  }
  .plain {
  }
  </style>
</head>
<body>
  <h1>Recordings for {{ user }}</h1>
  <h3>Displaying recordings from {{ from }} to {{ to }}</h3>
  <p>
    <a href="?{{ month_back_qs }}">1 month earlier</a> |
    <a href="?{{ month_forward_qs }}">1 month later</a> |
    {% if dur_check %}
    <a href="?{{ dur_disable_qs }}">Disable duration checks</a>
    {% else %}
    <a href="?{{ dur_enable_qs }}">Enable duration checks</a>
    {% endif %}
  </p>
  {% if message %}
  <h2>{{ message }}</h2>
  {% endif %}
  <form action="/bulk">
  <input type="hidden" name="origin_email" value="{{ email }}" />
  <input type="hidden" name="dur_check" value="{{ dur_check }}" />
  <table style="width:100%">
    <tr>
      <th style="text-align:left">Bulk Ingest</th>
      <th style="text-align:left">Date</th>
      <th style="text-align:left">Title</th>
      <th style="text-align:left">Date</th>
      <th style="text-align:left">Status</th>
      <th style="text-align:left">Duration</th>
      <th style="text-align:left">Action</th>
    </tr>
    {% for recording in recordings %}
    <tr class="{{ loop.cycle('plain', 'grey') }}{% if dur_check and recording.too_short %} short"{% endif %}">
      <td><input type="checkbox" name="bulk_{{ recording.id }}"/{% if dur_check and recording.too_short %} disabled="true"{% endif %}></td>
      <td>{{ recording.date }}</td>
      <td><a href="/recording/{{ recording.id | urlencode | replace('/', '%2F') | urlencode }}?{{ query_string }}">{{ recording.title }}</a></td>
      <td>{{ recording.date }}</td>
      <td>{{ recording.status }}</td>
      <td{% if dur_check and recording.too_short %} class="error"{% endif %}>{{ recording.duration }}</td>
      {% if (dur_check and not recording.too_short) or not dur_check %}
      <td><a href="/recording/{{ recording.id | urlencode | replace('/', '%2F') | urlencode }}?{{ query_string }}">Select</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  <hr/>
  <label for="isPartOf">Series</label>
  <select id="isPartOf" name="isPartOf">
    <option value="" {% if series == None %}selected="true"{% endif %}>--No Series--</option>
    {% for key, value in series_list.items() %}
    <option value="{{ key }}" {% if series is defined and series['identifier'] == key %}selected="true"{% endif %}>{{ value }}</option>
    {% endfor %}
  </select>
  {#<!--<a href="../series?epid={{ recording.id | urlencode }}&oem={{ recording.email }}&oqs={{ query_string }}">Create New Series</a>-->#}
  <label for="acl_id">ACL</label>
  <select id="acl_id" name="acl_id">
    <option value="" {% if acl == None %}selected="true"{% endif %}>--Blank ACL--</option>
    {% for key, value in acl_list.items() %}
    <option value="{{ key }}" {% if acl is defined and acl['identifier'] == key %}selected="true"{% endif %}>{{ value['name'] }}</option>
    {% endfor %}
  </select>
  <label for="workflow_id">Workflow</label>
  <select id="workflow_id" name="workflow_id" required>
    <option value=""{% if workflow == None %}selected="true"{% endif %} disabled="disabled">Select Workflow</option>
    {% for key, value in workflow_list.items() %}
    <option value="{{ key }}" {% if workflow is defined and workflow['identifier'] == key %}selected="true"{% endif %}>{{ value }}</option>
    {% endfor %}
  </select>
  <button type="submit" formmethod="post" postaction="/bulk">Submit</button>
  </form>
  <hr/>
  <a href="/?{{ query_string }}">Home</a>
    <!--
 |
  <a href="/cancel">Cancellable ingests</a>
  -->
</body>
</html>
