<html>
<head>
  <title>List of Zoom users</title>
</head>
<body>
  <h1>Zoom users in your account</h1>
  <table style="width:100%">
    <tr>
      <th style="text-align:left">Name</td>
      <th style="text-align:left">Eamil</td>
      <th style="text-align:left">Recordings</td>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.first_name }} {{ user.last_name }}</td>
      <td>{{ user.email }}</td>
      <td><a href="/recordings/{{ user.email }}">List</a></td>
    </tr>
    {% endfor %}
  </table>
  <hr/>
  <a href="/">Full user list</a>
  <a href="/cancel">Cancellable ingests</a>
</body>
</html>
