<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Zoom user</title>
</head>
<body>
  <h1>Search Zoom User</h1>
  <form action="/user/search" method="get">
    <label for="q">
      User name or email:
      <input type="search" id="q" name="q" placeholder="Zoom user fist name, last name or email" value="{{ q | default('') }}" style="width:30%">
    </label>
    <input type="submit" value="Search">
    <div>{{ error_msg }}</div>
    <input type="hidden" id="token" name="token" value="">
  </form>
  {% if info_msg %}
  <div>{{ info_msg }}</div>
  {% endif %}
  <br/>
  {% if token %}
  <a href="/user/search?q={{ q | default('') }}&token={{ token | default('') }}">Show more results</a>
  {% endif %}
  {% if users %}
  <table style="width:100%">
    <tr>
      <th style="text-align:left">Name</td>
      <th style="text-align:left">Eamil</td>
      <th style="text-align:left">Recordings</td>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.last_name }}, {{ user.first_name }}</td>
      <td>{{ user.email }}</td>
      <td><a href="/recordings/{{ user.id }}">List</a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <hr/>
  <a href="/">Full user list</a> |
  <a href="/cancel">Cancellable ingests</a>
</body>
</html>